@font-face {
    font-family: 'Tan-Headline';
    src: url('TAN-Headline/TAN-Headline/TANHEADLINE-Regular.ttf') format('truetype'); /* Adjust the path to your font */
}

body {
    font-family: 'Tan-Headline', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #fff4e2;
    margin: 0;
}

.hidden
{
    display: none !important;
}

#loadingPage
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

#loadingPage .title
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    background-color: #fff4e2;
}

#loadingPage .text
{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    color: #5b8235;
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.3);
}
#loadingPage .img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingPage .img img {
    width: 55px;
    rotate: -15deg;
    margin-bottom: 10px;
}

#loadingPage .beanLoading {
    display: flex;
    flex-direction: row;
}

#loadingPage .beanLoading .loadingBeans {
    width: 20px;
    margin-right: 20px;
}

#loadingPage .beanLoading .loadingBeans.last {
    margin-right: 0px;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    80% {
        transform: scale(1.2); /* Slight overshoot */
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Initially hide elements */
.loadingBeans {
    opacity: 0;
    transform: scale(0.5);
}

/* Class added via JavaScript */
.pop-in {
    animation: popIn 0.3s forwards cubic-bezier(0.3, 1.5, 0.5, 1);
}

.first
{
    rotate: 235deg;
}

.second
{
    rotate: 45deg;
}
.third
{
    rotate:90deg;
}
.fourth
{
    rotate: 155deg;
}

.loginOptions
{
    display: none;
    flex-direction: column;
    align-items: center;
    font-family: 'Archivo', sans-serif;
    width: 60%;
}

.loginOptions #haveAccount a
{
    font-size: 17px;
    text-decoration: underline; 
    cursor: pointer;
    color: #1b76f2;
}


.social-button {
    display: flex;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
  }

.social-button img
{
    width: 20px;
}

.google-button {
    background-color: #ffff;
    color: black;
}

.facebook-button {
    background-color: #1b76f2;
}

.twitter-button {
    background-color: #1DA1F2;
}

.linkedin-button {
    background-color: #0077B5;
}

.social-icon {
    margin-right: 5px;
}

.manualLogin
{
    display: flex;
    flex-direction: column;
    font-family: 'Tan-Headline', sans-serif;
}

.manualLogin div
{
    color: #B99470;
    font-size: 15px;
}

.manualLogin input
{
    border:3px solid #A5B68D;
    width: 273px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 28px;
}

.manualLogin .loginButton 
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.manualLogin button
{
    font-family: "Bagel Fat One", serif;
    width: 176px;
    height: 30px;
    border:3px solid transparent;
    border-radius: 10px;
    background-color: #A5B68D;
    color: #FFF4E2;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


