@font-face {
    font-family: 'Tan-Headline';
    src: url('TAN-Headline/TAN-Headline/TANHEADLINE-Regular.ttf') format('truetype'); /* Adjust the path to your font */
}

body {
    font-family: "Bagel Fat One", serif;
    width: 100vw;
    height: 100vh;
    background-color: #fff4e2;
    margin: 0;
}

.hidden
{
    display: none !important;
}

#mainPage
{
    width: 100%;
    height: 100%;
}

.brownContainer
{
    background-color: #B99470;
    border-radius: 15px;
    width: 80%;
    border: 1.5px solid #000000;
    margin-top: 20px;
}



#topBar
{
    width: 100%;
    height: 20%;
    background-color: #A5B68D;
    display: flex;
    flex-direction: row;


    .userImage 
    {
        width: 120px;
        margin-top: 40px;
        margin-left: 10px;
        img{
            height: 110px;
            max-width: 110px;
        }

        .imageFromUser
        {
            height: 100px;
            width: 100px;
            background-color: #fff4e2;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .userText 
    {
        margin-top: 40px;
        display: flex;
        flex-direction: column;

        .userNameContainers
        {
            display: flex;
            flex-direction: row;
            font-size: 40px;
            color: #fff4e2;
            align-content: center;

            .username
            {   
                display: flex;
                z-index: 2;
                background-color: #B99470;
                height: 55px;
                border-right: 0px;
                min-width: 200px;
                
            }
            .triangle {
                z-index: 1;
                width: 55px; /* Let it take the full width of the parent */
                height: auto; /* Maintain the aspect ratio based on width */
                border-right: black;
            }      
        }

        .userTitle
        {
            margin-top: 10px;
            font-size: 30px;
            color: #fff4e2;
            text-shadow: 4px 5px 0px #333333;

        }

    }
    #returnArrow
    {
        height: 90px;
        display: flex;
        align-items: center;
        svg
        {
            margin-left: 20px;
        }
    }
}


.mainContent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.rankingInfo
{
    display: flex;
    flex-direction: row;
}

.title
{
    margin-top: 20px;
    text-decoration: underline;
}

.contributors
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
    li
    {
        color: #fff4e2;
    }
}

.userRanking
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 50%;
    margin-top: 30px;
    border-left: 1px solid black;

    .title
    {
        margin-top: 0px;

    }

    .rank{
        font-family: 'Bungee', sans-serif;
        font-size: 70px;
        color: #FFF3AE;
        text-shadow: 4px 5px 0px #333333;

    }
   
}

.rankingMore
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rankingMore .container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.rankingMore span
{
    display: flex;
    justify-content: center;
    color: #fff4e2;
    margin-right: 5px;
}

.rankingMore .arrow
{
    width: 30px;
}


#totalBeans
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    img.bean
    {
        width: 40px;
        rotate: 45deg;
    }


    .totalAmount
    {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title
        {
            font-size:23px;
        }

        .noOfBeans
        {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            span {
                font-family: 'Bungee', sans-serif;

                font-size: 40px;
            }
            div{
                width: 70px;
                display: flex;
                justify-content: center;
            }
        }
    }
   
    .redeemVoucher
    {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-left: 30px;
            border-left: 1px solid black;
            cursor: pointer;
        }
        
        span
        {
            width: 100px;
            font-size: 20px;
            text-decoration: underline;
        }

        img
        {
            width: 50px;
        }
    }

}


#upcomingEvents
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title
    {
        margin-top: 5px;
        color:#fff4e2;
        font-size: 25px;
    }
    
    .eventDetails
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .upcomingDate
    {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 20px;
        margin-left: 30px;

        border-right: 1px solid black;
    }
   
    .eventName
    {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        font-size: 23px;
        margin-left: 10px;

       
    }

}


#controlBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #B99470;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 36px 36px 0 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    display: flex;
    justify-content: center; /* Ensures items are centered */
    align-items: flex-end; /* Aligns to the bottom */
}

.greenOption {
    position: relative;
    width: 60px;
    height: 140px;
    background-color: #A5B68D;
    margin: 0 10px;
    border: 1px solid black;
    transform: translateY(30px);
    border-radius: 20px;
    cursor: pointer;

    img
    {
        width: 60px;
        margin-top: 10px;
    }

    img.calander
    {
        margin-top: 15px;
    }
}

.greenOption.center {
    width: 100px;
    margin: 0 auto; /* Centers it inside .container */
    img
    {
        width: 80px;
    }

}

.greenOption.last {
    margin-right: 0;
}

.greenOption.active
{
    height: 160px;
}

#Map
{
    .closestLocation
    {
        width: 100%;
        height: 612px;
    }
}